<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.matji.sandwich"
	android:versionCode="1"
	android:versionName="1.0">
	<application
		android:label="@string/app_name"
		android:icon="@drawable/icon">
		<uses-library android:name="com.google.android.maps" />
		<activity
			android:name="MainTabActivity"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="ExternalServiceWebViewActivity"></activity>
		<activity android:name="AlarmActivity"></activity>
		<activity android:name="AddMenuActivity"
				  android:launchMode="singleTask"></activity>
		<activity android:name="ChatActivity"
				  android:launchMode="singleTask"
				  android:windowSoftInputMode="stateHidden"></activity>
		<activity android:name="LoginActivity"
				  android:launchMode="singleTask"></activity>
		<activity android:name="MainMapActivity"></activity>
		<activity android:name="NoticeActivity"></activity>
		<activity android:name="PostListActivity"></activity>
		<activity android:name="PostMainActivity" 
				  android:screenOrientation="portrait"></activity>
		<activity android:name="PostSliderActivity"></activity>
		<activity android:name="SettingActivity"></activity>
		<activity android:name="SignUpActivity"></activity>
		<activity android:name="StoreSliderActivity"></activity>
		<activity android:name="StoreNearListActivity"></activity>
		<activity android:name="StoreTabActivity" 
				  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreMainActivity"></activity>
		<activity android:name="StoreDetailInfoTabActivity" 
			 	  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreNoteListActivity"></activity>
		<activity android:name="StoreDefaultInfoActivity"></activity>
		<activity android:name="StoreMenuActivity"
				  android:windowSoftInputMode="adjustPan"></activity>
		<activity android:name="StorePostListActivity"></activity>
		<activity android:name="StoreMoreActivity"></activity>
		<activity android:name="StoreUrlListActivity" 
				  android:screenOrientation="portrait"></activity>		
		<activity android:name="UserTabActivity" 
				  android:screenOrientation="portrait"></activity>
		<activity android:name="UserMainActivity"></activity>
		<activity android:name="UserStoreListActivity"></activity>
		<activity android:name="UserPostListActivity"></activity>
		<activity android:name="FollowingActivity" 
				  android:screenOrientation="portrait"></activity>
		<activity android:name="TagListActivity" 
				  android:screenOrientation="portrait"></activity>
		<activity android:name="WritePostActivity"
				  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"></activity>
		<activity android:name="WriteCommentActivity"
                  android:windowSoftInputMode="adjustResize"></activity>
		<activity android:name="WriteMessageActivity"
                  android:windowSoftInputMode="adjustResize"></activity>
		<activity android:name="ReceivedUserActivity"></activity>
		<activity android:name="widget.SlideGalleryActivity"></activity>
		<activity android:name="GridGalleryActivity"></activity>
		<activity android:name="ImageListActivity"></activity>
		<activity android:name="ImageSliderActivity"
				  android:screenOrientation="unspecified"></activity>
		<activity android:name="MessageThreadActivity"
				  android:screenOrientation="portrait"></activity>
		<activity android:name="GetMapPositionActivity"></activity>
		<activity android:name="StoreRegisterListActivity"></activity>
		<activity android:name="StoreRegisterActivity"></activity>
		<activity android:name="UserNearRankingActivity"></activity>
		<activity android:name="BookmarkListActivity" android:theme="@style/Theme.Transparent"></activity>
	</application>

	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
</manifest>
