<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.matji.sandwich"
	android:versionCode="1"
	android:versionName="1.0">
	<application
		android:label="@string/app_name"
		android:icon="@drawable/intro_bg"
		android:debuggable="true">
		<uses-library android:name="com.google.android.maps" />
		<activity
				  android:name="IntroActivity"
				  android:launchMode="singleTask"
				  android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="ChangeLocationActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="ExternalServiceWebViewActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name=".UserEditActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="AlarmActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="AddMenuActivity"
				  android:launchMode="singleTask"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="LoginActivity"
				  android:launchMode="singleTask"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="LikeStoreListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="LikeUserListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="MainMapActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="MainTabActivity"
				  android:launchMode="singleTask"
				  android:screenOrientation="portrait"></activity>
		<activity android:name="MessageListTabActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="ReceivedMessageListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="SentMessageListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="NoticeActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="PostListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="PostMainActivity" 
				  android:screenOrientation="portrait"></activity>
		<activity android:name="PostSliderActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="PostListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="PostNearListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="PostTabActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="RankingTabActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="RankingFriendListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="RankingNearListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="RankingAllListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="SearchActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreLocationMapActivity"
			  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreSearchActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreFoodListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="PostSearchActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="SettingsActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="SignUpActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreSliderActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreNearListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreTabActivity" 
				  android:screenOrientation="portrait"></activity>
        <activity android:name="StoreMainActivity"
                  android:screenOrientation="portrait"></activity>				  
        <activity android:name="StoreBookmarkListActivity"
                  android:screenOrientation="portrait"></activity>
        <activity android:name="StoreDiscoverListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreDetailInfoTabActivity" 
			 	  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreNoteListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreDefaultInfoActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreMenuActivity"
				  android:windowSoftInputMode="adjustPan"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreImageListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="StorePostListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreMoreActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreUrlListActivity" 
				  android:screenOrientation="portrait"></activity>		
        <activity android:name="UserMainActivity"
                  android:screenOrientation="portrait"></activity>
        <activity android:name="UserNickEditActivity"
                  android:screenOrientation="portrait"></activity>
        <activity android:name="UserIntroEditActivity"
                  android:screenOrientation="portrait"></activity>
        <activity android:name="UserWebsiteEditActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="UserStoreListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="UserSearchActivity"
				  android:theme="@style/Theme.NoBackground"
                  android:screenOrientation="portrait"></activity>		
		<activity android:name="UserImageListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="UserPostListActivity"
                  android:screenOrientation="portrait"></activity>
        <activity android:name="UserProfileTabActivity" 
                  android:screenOrientation="portrait"></activity>
		<activity android:name="UserProfileActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="UserTagActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreTagActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="FollowingActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="TagListActivity" 
				  android:screenOrientation="portrait"></activity>
		<activity android:name="WritePostActivity"
				  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"></activity>
		<activity android:name="WriteStoreActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="SelectStoreActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="SelectTagActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="WritePostStoreActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="WritePostPictureActivity"
				  android:screenOrientation="portrait"></activity>
		<activity android:name="WritePostTagActivity"
				  android:screenOrientation="portrait"></activity>
		<activity android:name="WritePostTabActivity"
				  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"></activity>
		<activity android:name="WriteCommentActivity"
                  android:windowSoftInputMode="adjustResize"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="WriteMessageActivity"
                  android:windowSoftInputMode="adjustResize"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="ReceivedUserActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="widget.SlideGalleryActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="GridGalleryActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="ImageSliderActivity"
				  android:screenOrientation="unspecified"></activity>
		<activity android:name="GetMapPositionActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreRegisterListActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="StoreRegisterActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="UserNearRankingActivity"
                  android:screenOrientation="portrait"></activity>
		<activity android:name="BookmarkListActivity" 
		          android:theme="@style/Theme.Transparent"
                  android:screenOrientation="portrait"></activity>
	</application>

	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
</manifest>
